
<% if @trips.count >= 30 %>

<h1>Trips</h1>
<hr />
<% @trips.each do |trip| %>

<div id="trip-<%= trip.id %>">
<h2>Trip: <%= trip.id %></h2>
<p><%= trip.duration %></p>
<p>Start date: <%= trip.start_date %></p>
<p>Start station: <%= trip.start_station_id %></p>
<p>End date: <%= trip.end_date %></p>
<p>End station: <%= trip.end_station_id %></p>
<p><%= trip.bike_id %></p>
<p><%= trip.subscription_type %></p>
<p><%= trip.zip_code %></p>
<% if current_admin? %>
  <%= button_to 'Delete Trip', admin_trip_path(trip), method: 'delete' %>
  <%= button_to 'Edit Trip,', edit_admin_trip_path(trip) %>
  <% end %>
<% end %>
</div>


<hr/>

<%= will_paginate @trips%>

<% else @trips.each do |trip| %>
<div id="trip-<%= trip.id %>">


<h3>Trip: <%= trip.id %></h3>
<p>Duration: <%= trip.duration %></p>
<p>Start date: <%= trip.start_date %></p>
<p>Start station: <%= trip.start_station_id %></p>
<p>End date: <%= trip.end_date %></p>
<p>End station: <%= trip.end_station_id %></p>
<p>Bike ID: <%= trip.bike_id %></p>
<p>Subscription: <%= trip.subscription_type %></p>
<p>Zip Code: <%= trip.zip_code %></p>


<% if current_admin? %>
    <%= button_to 'Delete Trip', admin_trip_path(trip), method: 'delete' %>
    <%= button_to 'Edit Trip,', edit_admin_trip_path(trip) %>
  <% end %>
</div>

<% end %>
<% end %>
